<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand  ms-2" href=<%= root_path %>>
    <img src="/globe.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Messenger
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    </li>
    <li class="nav-item active">
    <%= link_to "Home", root_path , class:"nav-link"%>
    </li>
    <li class="nav-item">
    <%= link_to "Browse Teams", teams_path , class:"nav-link"%>
    </li>
    <li class="nav-item">
    <%= link_to "My Teams#{@notf_invites}", user_teams_path , class:"nav-link"%>
    </li>
    <li class="nav-item">
    <%= link_to "My Messages#{@notf_messages}", messengers_path , class:"nav-link"%>
    </li>
    </div>
    </ul>
    </div>
    <% if !session[:user_id] %>
    <div class="mx-auto p-2">
    <%= link_to "Signup", '/Signup' , class:"nav-link"%>
    </div>
    <div class="mx-auto p-2">
    <%= link_to "Login", new_user_session_path , class:"nav-link"%>
    </div>
    <% else %>
    <div class="mx-auto p-2">
    <%= link_to "Logout", logout_path , class:["nav-link","nav-item","float-md-right"]%>
    </div>
    <div class="mx-auto p-2">
    <div class="d-inline p-2 text-bg-primary">User: <%= User.find_by(id:session[:user_id]).username%></div>
    </div>
    <% end %>
  </nav>