<h1>New team</h1>

<%= form_with model: @team do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.hidden_field :owner_id, :value => session[:user_id]  %>
    </div>
  
    <% @team.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>

    <div>
    <%= form.label :status %><br>
    <%= form.select :status, [["Public", "public"], ["Private", "private"]]%>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

      <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  