<h1>Team messages for <%= @team.title %></h1>

<%= form_with url: team_path(@team), method: :get do |form| %>
  <%= form.label :search, "Search Post:" %>
  <%= form.text_field :search , value: @search %>
  <%= form.submit "Search" %>
<% end %>

<h2>Post</h2>
<div style="height:500px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;display: flex;flex-direction: column-reverse;">
<div style="margin:1px;">
<%= render @team.team_posts %>
</div>
</div>

<br><h2>Add a comment:</h2>
<%= render 'team_posts/form' %>

<h2>Members:</h2>
<div style="height:100px;border:1px solid #ccc;overflow:auto;">
<ul>
  <li style="color:green">
  <%= User.find_by(id:@team.owner_id).username%> Owner
  </li>
  <% @members.each do |member| %>
      <%unless @team.owner_id == member.user_id%>
      <li>
    <% unless User.where(id:member.user_id).blank?%>
      <%= User.find_by(id:member.user_id).username%> Joined at: <%= UserTeam.find_by(user_id:member.user_id,team_id:@team.id).created_at%>
      <% end %>
      <% if @team.owner_id == session[:user_id] %>
          <%= link_to "Remove", user_team_path(member), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
        <%= link_to "Make Owner", teams_owner_path(team_id: params[:id], user_id: member.user_id) %>
      <% end %>
      </li>
      <% end %>
  <% end %>
</ul>
</div>


<%if Team.find_by(params[:id]).owner_id == session[:user_id] %>
<%= form_with url: "/user_teams", method: :post do |form| %>
  <%= form.label :username, "Invite User:" %>
  <%= form.text_field :username %>
    <%= form.hidden_field :team_id, value: params[:id] %>
    <%= form.hidden_field :status, value: "invitation" %>
  <%= form.submit "Invite" %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  <% end %>
<% end %>
<br>