Login:
<%= form_with model: @user do |form| %>
    <div>
      <%= form.label :username %><br>
      <%= form.text_field :username %>
    </div>
  
    <div>
      <%= form.label :password %><br>
      <%= form.text_area :password %><br>
    </div>
    
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  