<% if team_post.post.include?(@search) %>


<% if session[:user_id]==team_post.user_id %>
<p style="color: green">
<% elsif team_post.created_at >= @last_saw%>
<p style="color:yellow">
<% else %>
<p style="color: red">
<% end %>

<%= team_post.user_id %><strong>-></strong><%= team_post.post %>
<strong>When:</strong>
<%= team_post.created_at %> 

<%= link_to "Private message" , team_path(messenger.team_id) %>


<%= link_to "Add to contact" , team_path(messenger.team_id) %>
</p>



<%end%>