<%= turbo_frame_tag "modal" do %>

<div class="modal">
<%= form_with model: @new_message do |form| %>
  <p>
    <%= form.label :user_id %><br>
    <%= form.text_area :user_id %>
  </p>
  <p>
    <%= form.label :to_user_id %><br>
    <%= form.text_area :to_user_id %>
  </p>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  </div>
  <% end %>