<h1>Message to <%= User.find_by(id:params[:id]).username%>  </h1>

<% @messages.each do |message| %>
  <p>
  <% if message.user_id == session[:user_id]%>
  <li style="color:blue">
  <% elsif message.created_at > @last_saw%>
  <li style="color:yellow">
  <% else %>
  <li style="color:cyan">
  <%end%>
      <%= User.find_by(id:message.user_id).username %> [<%= message.created_at %>] -> <%= message.text %>
    </li>
  </p>
<% end %>


<%= form_with model: @new_message do |form| %>
  <p>
    <%= form.hidden_field :user_id, value: session[:user_id] %>
  </p>
  <p>
    <%= form.hidden_field :to_user_id, value: User.find_by(id:params[:id]).id %>
  </p>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>