<h1>PrivateMessages#show</h1>
<p>Find me in app/views/private_messages/show.html.erb</p>

<%=@last_saw%>
<p>Find me in app/views/private_messages/new.html.erb</p>
<% @messages.each do |message| %>
  <p>
  <% if message.user_id == session[:user_id]%>
  <li style="color:blue">
  <% elsif message.created_at > @last_saw%>
  <li style="color:yellow">
  <% else %>
  <li style="color:cyan">
  <%end%>
      <%= message.user_id %>[<%= message.created_at %>]:<%= message.text %>
    </li>
  </p>
<% end %>


<%= form_with model: @new_message do |form| %>
  <p>
    <%= form.label :user_id %><br>
    <%= form.text_area :user_id %>
  </p>
  <p>
    <%= form.label :to_user_id %><br>
    <%= form.text_area :to_user_id %>
  </p>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>