<h1>Messengers</h1>
<%= link_to "New Contact", new_messenger_path%>

<ul>
Contacts:
  <% @messengers_c.each do |messenger| %>
      <li>
      <%if !User.where(id: messenger.to_user_id).blank?%>
        <%= User.find_by(id: messenger.to_user_id).username %>
        <%= link_to "Send a message" , private_message_path(User.find_by(id: messenger.to_user_id).id) %>
      <%else%>
      [deleted]
      <%end%>
        <%= link_to "Delete" , messenger_path(messenger), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
        <% if messenger.saw_last == false %>
        New Message!
        <% end %>
        <%= link_to "Block", messengers_block_path(messenger) %>
      </li>
  <% end %>
</ul>

<ul>
Messages:
  <% @messengers_m.each do |messenger| %>
      <li>
      <%if !User.where(id: messenger.to_user_id).blank?%>
        <%= User.find_by(id: messenger.to_user_id).username %>
        <%= link_to "Send a message" , private_message_path(User.find_by(id: messenger.to_user_id).id) %>
      <%else%>
      [deleted]
      <%end%>
        <%= link_to "Delete" , messenger_path(messenger), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
        <% if messenger.saw_last == false %>
        New Message!
        <% end %>
        <%= link_to "Add to contact", messengers_add_to_contact_path(messenger) %>
        <%= link_to "Block", messengers_block_path(messenger) %>
      </li>
  <% end %>
</ul>

<ul>
Teams:
  <% @teams_m.each do |messenger| %>
      <li>
        <%= Team.find_by(id: messenger.team_id).title %>
        <%= link_to "Show" , team_path(messenger.team_id) %>
        New Message!
      </li>
  <% end %>
</ul>

<ul>
Blocked:
  <% @messengers_b.each do |messenger| %>
      <li>
      <%if !User.where(id: messenger.to_user_id).blank?%>
        <%= User.find_by(id: messenger.to_user_id).username %>
        <%= link_to "Send a message" , private_message_path(User.find_by(id: messenger.to_user_id).id) %>
      <%else%>
      [deleted]
      <%end%>
        <%= link_to "Delete" , messenger_path(messenger), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
      </li>
  <% end %>
</ul>

